.commentBlock{
  border: 2px solid black;
  margin: 20px;
  text-align: center;
}
.postBlock{
  color: blue;
  text-align: justify;
}
h2{
  width: 100%;
  text-align: center;
  color: lavender;
}
ul{
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li{
  width: 100px;
  height: 30px;
  background-color: grey;
  text-align: center;
}

.todos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.todo{
  width: 30%;
  height: 80px;
  border: 2px dotted rosybrown;
  padding-left: 10px;
}